body{
  background-color:#2E4053; 
}
.one{
  display:inline-block;
  width:250px;
  height:250px;
  cursor:pointer;
  
}
.row1{
  display:inline-block;
  
  
}


#b0{
  
  border-top-left-radius:100%;
  border:6px solid;
  background-color:#008000;
   
  
}
#b2{
   border-bottom-left-radius:100%;
   border:6px solid;
    background-color:#cca707;
}
#b1{
   border-top-right-radius:100%;
   border:6px solid;
   background-color:#9f0f17;
}
#b3{
   border-bottom-right-radius:100%;
   border:6px solid;
   background-color:#1933B2;
}
.circle{
  background-color:#F5F5F5;
  width:225px;
  height:225px;
  margin-right:auto;
  margin-left:auto;
  margin-top:-365px;
  position:relative;
  border-radius:50%;
  border:7px solid;
}
.block{
  margin-top:50px;
  line-height:0px;
}
.circleblock{
  padding-top:27px;
  height:130px;
 
}
.step{
  background-color:black;
  margin-right:10px;
  width:50px;
  height:40px;
  display:inline-block;
  border-radius:5px;
  padding-top:20px;
  color:red;  
  font-size:15px;
}
.onoff{
  margin-top:30px;
  
}
.start{
  margin-right:5px;
  margin-top:0px;
  
  
}
.str{
  margin-top:0px;
  
}
.buttons{
 
  display:inline-block;
 
  
}
.btn{
  border-radius:5px;
}
.state{
  border-radius:4px;
}
.toggb0{
   border-top-left-radius:100%;
  border:6px solid;
  background-color:#00a74a;
}
.toggb1{
   border-top-right-radius:100%;
   border:6px solid;
   background-color:#9f0f17;
  
}
.toggb2{
   border-bottom-left-radius:100%;
   border:6px solid;
    background-color:#cca707;
  
}
.toggb3{
  border-bottom-right-radius:100%;
   border:6px solid;
   background-color:#1933B2;
}
.start{
  border-radius:100%;
}
.str{
  border-radius:100%;
  background-color: #FF6347;
  color:white;
}
.starton{
  background-color:#32CD32;
  color:white;
}
h1{
  color:white;
}
.stateoff{
  border:solid;
}
.stateon{
  border:solid;
}
